/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


@import "tailwindcss";


* {
  font-family: 'Poppins', sans-serif;
}

/* =========================
   SCHOOL THEME COLORS
   ========================= */
@theme {
  --color-primary: #1E40AF;        /* Trust Blue */
  --color-primary-dark: #1E3A8A;
  --color-primary-light: #E6EEF6;

  --color-secondary: #F59E0B;      /* Golden Accent */
  --color-accent: #EF4444;

  --color-text-dark: #0F172A;
  --color-text-muted: #64748B;

  --color-bg-main: #F8FAFC;
  --color-bg-card: #FFFFFF;
}


.input {
  @apply w-full px-4 py-3 rounded-xl border border-slate-300
  focus:outline-none focus:ring-2 focus:ring-[var(--color-primary)]
  transition;
}


